<div id="playercard-wrapper">
  <% @playercards.take(5).each do |playercard| %>
    <div class="playercard">
      <%= playercard.first_name + ' ' + playercard.last_name %><br>
      <%= playercard.pro_team_city + ' ' + playercard.pro_team_name %><br>
      <%= image_tag playercard.picture.url(:thumb) %><br>
      <%='Position: ' + playercard.position %><br>
      <%= '#' + playercard.number.to_s %>
    </div>
  <% end %>

</div>
